<div>
  <mat-toolbar color="primary" fxLayout="row">
      <div id="logo-container" fxLayoutAlign="start center" *ngIf="logo" fxFlex>
          <a (click)="onLogoClick()" fxLayout="column" fxLayoutAlign="center start" style="cursor: pointer;">
            <img [src]="logo">
          </a>
          <span class="nameTitle">Luke Truitt</span>
      </div>
      <div style="text-align: center" fxLayoutAlign="center center" fxFlex>
        <span id="title">{{title}}</span>
      </div>
       <div fxLayoutAlign="start right" fxFlex>
          <button mat-fab color="accent" [matMenuTriggerFor]="pages">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #pages="matMenu">
            <button mat-menu-item class="menu-item"  (click)="onClickHome()" *ngIf="!home">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item class="menu-item"  (click)="onClickResume()" *ngIf="!resume">
              <mat-icon>dashboard</mat-icon>
              <span>Portfolio</span>
            </button>
            <!--
            <button mat-menu-item class="menu-item" (click)="onClickEconomy()" *ngIf = "!economy">
              <mat-icon>trending_up</mat-icon>
              <span>Economy</span>
            </button>
            <button mat-menu-item class="menu-item" (click)="onClickTech()" *ngIf = "!tech">
              <mat-icon>cloud</mat-icon>
              <span>Tech</span>
            </button>
            <button mat-menu-item class="menu-item" (click)="onClickPolitics()" *ngIf = "!politics">
              <mat-icon>public</mat-icon>
              <span>Politics</span>
            </button>
            -->
            <button mat-menu-item class="menu-item" (click)="onClickPhilosophy()" *ngIf = "!philosophy">
              <mat-icon>group</mat-icon>
              <span>Thoughts</span>
            </button>
          </mat-menu>
        </div>
  </mat-toolbar>

</div>

<router-outlet></router-outlet>
