<div id="mainContainer" fxFlex fxLayout="column">
    <div id="summaryContainer">
        <h1>What is this page for?</h1>
    </div>

    <div id="educationContainer">
        <h2>Education Information</h2>
    </div>

    <div id="workContainer">
        <h2>Formal Work Experience</h2>
    </div>

    <div id="projectContainer">
        <h2>Project Experience</h2>
    </div>

    <div id="awardContainer">
        <h2>Awards, recognition, etc.</h2>
    </div>

    <div id="interestContainer">
        <h2>Interests and Skills</h2>
    </div>
  </div>
